{% extends 'base.html' %}

{% block content %}
    <p>You submitted the following data</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">driver_name</th>
                </tr>
            </thead>
            <tbody>
                {% for driver in drivers %}
                <tr>
                    <td>{{ driver['driver_name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}